.page {
   width: 100%;
   height: 100%;
   overflow: auto;
   font-family: "Lucida Console", Monaco, monospace;
}

/* DEBUG */
.top-bar {
   background-color: black;
}
.context-pane {
   background-color: green;
}
.page-pane {
   background-color: blue;
}
.hidden-pane {
   background-color: yellow;
}
.footer {
   background-color: grey;
}

/* Top bar */
.top-bar {
   padding: 10px;
   display: flex;
   flex-wrap: wrap;
   justify-content: space-evenly;
}

.top-bar #background-upload {
   display: none;
}

/* middle */
.middle {
   height: 100%;
   width: 100%;
   display: flex;
}

.context-pane,
.page-pane,
.hidden-pane {
   height: 100%;
}

.context-pane,
.hidden-pane {
   flex: 1;
}

.context-pane {
}

.page-pane {
   flex: 4;
   position: relative;
}

.page-pane .background-image {
   display: none;
   width: 100%;
}

.hidden-pane {
}

/* footer */
.footer {
   height: 20px;
}

/* Boxes */
.box {
   outline: 1px solid black;

   width: 50px;
   height: 50px;
   margin: 0px;
   padding: 0px;
   position: absolute;
   top: 0;
   left: 0;
   z-index: 10;
   background-color: white;

   box-sizing: border-box;
}

.box.selected {
   outline: 2px solid red;
}
